<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>主页</title>
</head>
<body>
<h1>邮件定时器配置页</h1>
<!--<button id="post">POST /yangfan</button>-->
<!--<button id="send">发送一封邮件</button>-->
</body>
<script>
//    (function () {
//        const postBtn = document.getElementById('post')
//        const sendBtn = document.getElementById('send')
//
//        let jsonData = {
//            name: 'yangfan',
//            age: 16
//        }
//        postBtn.addEventListener('click',function () {
//            let xhr = new XMLHttpRequest()
//            xhr.onreadystatechange = function () {
//                if (xhr.readyState === 4){
//                    if ((xhr.status >= 200) && (xhr.status < 300) || xhr.status === 304){
//                        alert(xhr.responseText)
//                    }else {
//                        alert('失败'+xhr.status)
//                    }
//                }
//            }
//            xhr.open('post','/yangfan',true)
//            xhr.setRequestHeader('Content-Type','application/json')
//            xhr.send(JSON.stringify(jsonData))
//        })
//        sendBtn.addEventListener('click',function () {
//            let xhr = new XMLHttpRequest()
//            xhr.onreadystatechange = function () {
//                if (xhr.readyState === 4){
//                    if ((xhr.status >= 200) && (xhr.status < 300) || xhr.status === 304){
//                        alert(xhr.responseText)
//                    }else {
//                        alert('失败'+xhr.status)
//                    }
//                }
//            }
//            xhr.open('get','/send',true)
//            xhr.send()
//            console.log(xhr)
//        })
//
//    })()
</script>
</html>